strong {
    color: #aa2b2a;
    font-weight: bold;
}
#form1 {
    background-color: #a0cad2;
    border-radius: 5px;
}
input {
    background-color: #449d44;
}
#form2 {
    background-color: #a0cad2;
    border-radius: 5px;
}
