html, body { height:100%; width:100%; }
.modalWindow {
    display: none;
    width:300px;
    height:300px;
    border:2px solid #FF0000;
    border-radius:30px;
    box-shadow: 0 0 3px #000;
    position: absolute;
    top: 20%;
    left:50%;
    margin-left:-150px;
    z-index: 1;
    padding-top: 5%;
    text-align:center;
}